* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

.section1{
    position: relative;
    width:100%;
    min-height: 13vh;
    padding:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header {
    font-family: "Roboto Flex", sans-serif;
    position: absolute;
    left:0;
    width:100%;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 200px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color:#3b2b1d;
    font-weight: 600;
    margin-left: 50px;
    text-decoration: none;
    font-size: 110%;
    transition-duration: 0.4s;
}
.hovlink:hover{
    color:#f5c276
}
.section2{
    min-height: 84vh;
    background-image: url('assets/background.png');
    overflow-y: auto;
}
div{
    padding:1%;
}
.container{
    margin: auto;
    width: 60%;
    min-height: fit-content;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    gap: 10px 10px;
}

#post {
    background-color: white;
    border-radius: 10px;
    color:#533e2b;
    padding-top: 1%;
    box-shadow: 0 12px 16px 0 #3b2b1d17, 0 17px 50px 0 #3b2b1d17;
}

#link{
    color:#3b2b1d;
    font-weight: 600;
    text-decoration: none;
    font-size: 110%;
    transition-duration: 0.4s;
    font-family: "Roboto Flex", sans-serif;
}
#link:hover{
    color:#f5c276;
}
#imagem{
    overflow-y: scroll;
    align-items: center;
    max-width: 70%;
    max-height: 50%;
    margin: auto;
    display: block;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 3vh;
    font-size: 60%;
    text-align: center;
    padding-top: 5px;
    background-color: white;
}
