<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/ferramentas-dark.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
    <title>Callart - Ferramentas</title>
</head>

<body>
    <section class="section1">
    <header>
        <div class="logo"><a href="/index-dark"><img src="stylesheets/assets/placeholder.png" class="logo"></a></div>
            <ul>
                <li><a href="/ferramentas-dark" class="hovlink">Ferramentas</a></li>
                <li><a href="/tutoriais-dark" class="hovlink">Tutoriais</a></li>
                <li><a href="/login-dark" class="hovlink">Email</a></li>
            </ul>
    </header>
</section>
<section class="section2">
    <div class="container">
        <div class="post"><div id="textpost"><a href="https://www.adorkastock.com/sketch/" id="link">Site para prática geral;</a><br>AdorkaStock é um site para desenho de gestos, prática de figuras e esboços gerais. É muito útil para quem está em busca de referências.</div></div>

        <div class="post"><div id="textpost"><a href="https://quickposes.com/en/gestures/random" id="link">Site para referências de poses;</a><br><b>QuickPoses</b> é uma ferramenta para estudantes de arte, ilustradores ou qualquer pessoa que queira se concentrar em melhorar suas habilidades de desenho. O foco principal do site é o estudo do gestual. </div></div>

        <div class="post"><div id="textpost"><a href="https://medibangpaint.com/pt/" id="link">Medibang Paint</a><br>Medibang Paint é um software gratuito para arte digital.<img id="imagem" src="https://medibangpaint.com/wp-content/themes/medibang/img/beginner01.jpg" alt="image"></div></div>

        <div class="post"><div id="textpost"><a href="http://reference.sketchdaily.net/en" id="link">Site para prática diária;</a><br>SketchDaily é útil tanto para estudo geral de desenho quanto para utilização de referências de corpo inteiro, partes específicas do corpo, animais, estruturas, construções e até plantas.</div></div>

        <div class="post"><div id="textpost"><a href="https://coolors.co/generate" id="link">Site para criação de paletas;</a><br>Coolors é um clássico para todo artista, é um gerador de paleta de cores para aqueles que possuem dificuldade em decidir as cores e combinações a serem utilizadas em seu trabalho.</div></div>

        <div class="post"><div id="textpost"><a href="https://www.artstation.com/anatomy4sculptors" id="link">Conheça o ArtStation!</a><br>O ArtStation é um ótimo site para pessoas que querem entrar no ramo profissional de ilustração, modelagem e renderização. Nesse perfil em particular possui várias imagens de estudos de anatomia aprofundada para desenho e modelagem 3D.</div></div>

        <div class="post"><div id="textpost"><a href="https://line-of-action.com" id="link">Line of Action</a><br>Line of action é um site de estudo da linha de ação das figuras, ajudando o artista a criar poses mais dinâmicas. Possui referências de corpo inteiro, mãos e pés, animais, expressões faciais e cenários. <img id="imagem" src="https://pbs.twimg.com/media/FQ5OKezXwAEyhIt?format=png&name=medium" alt="image"></div></div>

        <div class="post"><div id="textpost"><a href="https://www.human-anatomy-for-artist.com" id="link">Human Anatomy for Artist</a><br>Esse site é uma ótima opção de site para estudo de anatomia e gestual!</div></div>

        <div class="post"><div id="textpost"><a href="https://webapp.magicposer.com" id="link">Poses 3D Online</a><br>Magic Poser Web é um site que possibilita o uso de modelos 3D para a criação de poses e visualização de ângulos, útil para aqueles com dificuldade em desenhar certas poses ou que não conseguem achar uma referência específica.</div></div>

        <div class="post"><div id="textpost"><a href="https://app.justsketch.me" id="link">JustSketchMe</a><br>JustSketchMe é outro clássico para todo artista, sendo também outro site com uso de modelos 3D para poses e ângulos.</div></div>

        <div class="post"><div id="textpost"><a href="https://x6ud.github.io/#/" id="link">Animal Photo Art</a><br>Animal Photo Art References Search é ótimo para desenhar animais e furries. Possui diversos crânios para cada espécie e o site procura imagens dos animais requisitados que estejam no mesmo ângulo do crânio. </div></div>

        <div class="post"><div id="textpost"><a href="https://www.characterdesigns.com" id="link">CharacterDesigns</a><br>CharacterDesigns é para quem está procurando inspiração na criação de personagens, possuindo referências para poses, fantasias, eventos, pinturas e costumes.</div></div>


    </div>
</section>
<section class="footer">
    <a href="/ferramentas" class="switchmode">Visualizar site em modo claro</a>
</section>
</body>
</html>