<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
    <title>Callart - Home</title>
</head>

<body>
    <section class="section1">
    <header>
            <div class="logo"><a href="/"><img src="stylesheets/assets/placeholder.png" class="logo"></a></div>
            <ul>
                <li><a href="/ferramentas" class="hovlink">Ferramentas</a></li>
                <li><a href="/tutoriais" class="hovlink">Tutoriais</a></li>
                <li><a href="/login" class="hovlink">Email</a></li>
            </ul>
    </header>
</section>
<section class="section2">
    <div class="principal">
        <h2 class="principal">O melhor site de ajuda e conteúdos para <br> <span class="spantitle" style="color:#cc9b53">Ilustradores e Designers.</span></h2>
    </div>
    <div class="subtitle">Tutoriais, dicas e conteúdos diversos.</div>
    <div class="lbutton"><a class="loginbutton" href="/login">Registre seu email</a></div>
</section>
<section class="footer">
    Alunos: José Elenilton e Wanyo Castelo Branco
</section>
</body>
</html>