<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
    <title>Callart - Registro</title>
</head>

<body>
    <section class="section1">
    <header>
        <div class="logo"><a href="/"><img src="stylesheets/assets/placeholder.png" class="logo"></a></div>

            <ul>
                <li><a href="/ferramentas" class="hovlink">Ferramentas</a></li>
                <li><a href="/tutoriais" class="hovlink">Tutoriais</a></li>
                <li><a href="/login" class="hovlink">Email</a></li>
            </ul>

    </header>
</section>
<section class="section2">
    <div class="container">
        <div class="board">
        <div class="titlelogin">Faça seu registro:</div>
        <form class="formstyle" id="authy">

            <div class="label" id="labelUser">Usuário:</div>
            <div class="paddingdiv">
        <input type="text" id="reguser" required>
            </div>

            <div class="label" id="labelSenha">Senha:</div>
            <div class="paddingdiv">
        <input type="password" placeholder="Digite sua senha"  id="regpass" required>
            </div>

            <div class="label" id="labelConfSenha"> Confirme a Senha:</div>
            <div class="paddingdiv">
        <input type="password" placeholder="Confirme sua senha"  id="regconfpass" required>
            </div>

            <div class="paddingdiv">

        <button class="botaologin" onclick="cadastrar()">Fazer cadastro</button>
            </div>
            </form>
            <div class="space"></div>
        </div>

    </div>
</section>
<section class="footer">
    Alunos: José Elenilton e Wanyo Castelo Branco
</section>


<script>
</script>


</body>
</html>