<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/tutoriais-dark.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
    <title>Callart - Tutoriais</title>
</head>

<body>
    <section class="section1">
    <header>
        <div class="logo"><a href="/index-dark"><img src="stylesheets/assets/placeholder.png" class="logo"></a></div>
            <ul>
                <li><a href="/ferramentas-dark" class="hovlink">Ferramentas</a></li>
                <li><a href="/tutoriais-dark" class="hovlink">Tutoriais</a></li>
                <li><a href="/login-dark" class="hovlink">Email</a></li>
            </ul>
    </header>
</section>
<section class="section2">
    <div class="container">
        <div id="post"><div id="textpost"><a href="https://www.youtube.com/watch?v=K7DseLvcpyY" id="link">TUTORIAL: Elementos avançados das sombras</a><br>Esse tutorial é para você que quer aprender melhor como renderizar as sombras nas suas ilustrações digitais<br> <img src="https://i.ytimg.com/vi/K7DseLvcpyY/maxresdefault.jpg" id="imagem"></div></div>

        <div id="post"><div id="textpost"><a href="https://www.youtube.com/watch?v=BSq_Vk9wqAM" id="link">Design 3D com SPLINE</a><br>Aprenda Design 3D do zero com o Spline!<br> <img src="https://i.ytimg.com/vi/BSq_Vk9wqAM/maxresdefault.jpg" id="imagem"></div></div>

        <div id="post"><div id="textpost"><a href="https://twitter.com/poxamarquinhos/status/1380647104083849218" id="link">Tutorial de Luz Solar</a><br> Esse tutorial ensina como renderizar luz solar nos seus desenhos digitais!</div></div>

        <div id="post"><div id="textpost"><a href="https://www.youtube.com/watch?v=I_EJ009KJ1g" id="link">Folha de Personagem com o Clip Studio</a><br>Esse vídeo ensina como melhorar o design dos seus personagens, também mostrando dicas e ferramentas no Clip Studio Paint para auxiliar no processo.<br> <img src="https://i.ytimg.com/vi/I_EJ009KJ1g/maxresdefault.jpg" id="imagem"></div></div>

        <div id="post"><div id="textpost"><a href="https://www.youtube.com/watch?v=Lw0nZEw8IIk" id="link">Tutorial de Anatomia Básica</a><br>Esse tutorial ensina anatomia básica, simplificando as formas do corpo humano para estudo.</div></div>

        <div id="post"><div id="textpost"><a href="https://www.youtube.com/watch?v=FoviF4qDYRY" id="link">Photoshop em 5 minutos</a><br>Esse vídeo ensina o básico de Photoshop para iniciantes que querem utilizar o programa e não sabem por onde começar; <br> <img src="https://i.ytimg.com/vi/FoviF4qDYRY/maxresdefault.jpg" id="imagem"></div></div>

        <div id="post"><div id="textpost"><a href="https://twitter.com/poxamarquinhos/status/1298666276529766401" id="link">Tutorial - Como crescer nas redes sociais</a><br>Thread especial para artistas, feita por @poxamarquinhos no twitter para auxiliar artistas que querem divulgar seu trabalho nas redes sociais e crescer com isso. <br> <img src="https://pbs.twimg.com/media/EgXF2-PWAAUOFSF?format=jpg&name=medium" id="imagem"></div></div>

    </div>
</section>
<section class="footer">
    <a href="/tutoriais" class="switchmode">Visualizar site em modo claro</a>
</section>
</body>
</html>